<!-- Header -->
<%- include('partials/header.ejs') %>

<!-- Content -->
<h1>Home</h1>

<p> <%= homeContent %> </p>

<!-- Display all post titles -->
<% posts.forEach(function(post) { %>
    <h1> <%= post.title %> </h1>
    <p> <%= post.content %> </p>
<% }); %>


<!-- Footer -->
<%- include('partials/footer.ejs') %>
